@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    /*
    min-height: 500px;
    max-height: 1400px;
    min-width: 400px;
    max-width: 1680px;
    
    Tudo isso substituido por "100vh" = 100 view height, que a altura da viewport.
    */
    background: black url(espaco.jpg) no-repeat center center fixed;
    /*
    Definir uma cor de fundo é importante porque caso a internet esteja lenta, a imagem vai demorar pra carregar, enquanto isso a cor de fundo é exibida.
    */
    background-size: cover;
    /* Segundo o manual da W3S a declaração 'size' ficaria logo após a 'position', mas ela continua não funcionando.*/
    
    position: relative;
}

body > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}